{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
	{# Début Météo #}
	<div class="contenu-vert meteo">
		<div class="row">
			<div class="col">
				<span class="ville">Le temps à {{ meteo['ville'] }}</span>
				<small>Le {{ meteo['dateJour'] }}</small>
			</div>
			<div class="informations">
				<span class="temperature">
					<small>{{ meteo['description'] }}</small>
					<img src="{{ meteo['tempsIcone'] }}">
					<span class="max">{{ meteo['temp_max'] }}&deg;C</span>
					/
					<span>{{ meteo['temp_min'] }}&deg;C</span>
				</span>
				<small>Humidité : {{ meteo['humidity'] }} % - Vent : {{ meteo['wind'] }} km/h</small>
			</div>
		</div>
	</div>
	{# Fin Météo #}
	
	<div class="contenu-blanc">
        <h1>Les <span> {{  lesCategories | length }}  </span>catégories de produits</h1>
		<!-- le filtre "length" affiche la longueur d'un tableau, d'une chaîne de caractères -->
		
		<div class="card-columns categories-cards">
			<div class="card">
				<img class="card-img-top" src="{{ asset('assets/img/Fruits.jpg') }}" alt="Fruits">
				<div class="card-img-overlay card-body text-center">
					<a href="{{ path('produit_categoriecards', {'categorie' : '8' }) }}" class="card-text">Fruits</a>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="{{ asset('assets/img/Legumes.jpg') }}" alt="Legumes">
				<div class="card-img-overlay card-body text-center">
					<a href="{{ path('produit_categoriecards', {'categorie' : '10' }) }}" class="card-text">Légumes</a>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="{{ asset('assets/img/Aromatiques.jpg') }}" alt="Aromatiques">
				<div class="card-img-overlay card-body text-center">
					<a href="{{ path('produit_categoriecards', {'categorie' : '9' }) }}" class="card-text">Aromatiques</a>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="{{ asset('assets/img/Miels.jpg') }}" alt="Miels">
				<div class="card-img-overlay card-body text-center">
					<a href="{{ path('produit_categoriecards', {'categorie' : '12' }) }}" class="card-text">Miels</a>
				</div>
			</div> 
			<div class="card">
				<img class="card-img-top" src="{{ asset('assets/img/Confitures.jpg') }}" alt="Confitures">
				<div class="card-img-overlay card-body text-center">
					<a href="{{ path('produit_categoriecards', {'categorie' : '11' }) }}" class="card-text">Confitures</a>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="{{ asset('assets/img/JusDeFruits.jpg') }}" alt="JusDeFruits">
				<div class="card-img-overlay card-body text-center">
					<a href="{{ path('produit_categoriecards', {'categorie' : '13' }) }}" class="card-text">Jus de fruits</a>
				</div>
			</div>
		</div><!--fin div card-columns-->
    </div> <!--fin div contenu-->
{% endblock %}
