{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container contenu-blanc">
    <h1>Utilisateur #{{ user.id }}</h1>
    <div class="container-fluid contenu">

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ user.telephone }}</td>
            </tr>
        </tbody>
    </table>


    <div class="row" style="text-align: center">
        <div class="col">
            <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Modifier</a></span></th>
        </div>
        <div class="col">
            {{ include('user/_delete_form.html.twig') }}
        </div>
        <div class="col">
            <a href="{{ path('user_index')}}" class="btn btn-secondary btn-xs"><i class="fa fa-undo"></i> Retour liste</a></span></th>
        </div>
    </div>
    </div>
</div>
{% endblock %}
